<!DOCTYPE html>
<html>

<head>
    <title>TikTok Embed | tiktokembed.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="#FF4500" data-react-helmet="true" name="theme-color" />

    <script src="https://kit.fontawesome.com/20d82c8371.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">

    <script src="/public/js/main.js"></script>
</head>

<body class="preload">
    <div class="centered">
        <div class="message warning">An error occurred while fetching this TikTok video:<br>
            <%=error%>
        </div>
        <a href="https://github.com/Cosmiiko/TikTokEmbed" class="button" id="miscBtn"><i
                class="fab fa-github"></i>TikTokEmbed's Github repo</a>
    </div>
</body>

</html>
