<!DOCTYPE html>
<html>

<head>
    <title>TikTok Embed | tiktokembed.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="#FF4500" data-react-helmet="true" name="theme-color" />

    <script src="https://kit.fontawesome.com/20d82c8371.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">

    <script src="/public/js/main.js"></script>
</head>

<body class="preload">
    <div class="centered">
        <div class="message info">
            <b>Welcome to TikTokEmbed!</b>
            <div class="spacer"></div>
            TikTokEmbed is a service that aims to fix TikTok's <br>
            Discord embeds in order to display videos properly.
            <div class="spacer"></div>
            To get started, simply replace the
            <span class="code">https://vm.tiktok.com/</span>
            part of the link of the video post you want to share with
            <span class="code">https://vm.tiktok<b>embed</b>.com/</span>
        </div>
        <a href="https://github.com/Cosmiiko/TikTokEmbed" class="button" id="miscBtn"><i
                class="fab fa-github"></i>TikTokEmbed's Github repo</a>
    </div>
</body>

</html>