title TikTok Embed | tiktokembed.com 

meta(name='viewport' content='width=device-width, initial-scale=1') 
meta(http-equiv='Content-Type' content='text/html; charset=UTF-8') 
meta(name='theme-color' content='#00F2EA') 

script(src='https://kit.fontawesome.com/20d82c8371.js' crossorigin) 

link(rel='preconnect' href='https://fonts.googleapis.com') 
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin) 
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap') 
link(rel='stylesheet', href='/public/css/main.css') 

script(src='/public/js/main.js') 
